## Basics
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
ipywidgets

## Reinforcement Learning specific
tensorforce
gym

## For gym 2048
pygame
tensorflow
gym-2048 @ git+https://github.com/Valentin-Laurent/gym-2048.git
